<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tarefa.nome %>
</p>

<p>
  <strong>Servico:</strong>
  <%= @tarefa.servico %>
</p>

<%= link_to 'Edit', edit_tarefa_path(@tarefa) %> |
<%= link_to 'Back', tarefas_path %>
